// Global Elements 
@import "var";
@import "mixins";
@import "base";

// UI style
@include grid-custom($gw: true);
//@include grid();
#gridstructure {
	@extend %gw;
	text-align: center;
	color: #fff;

	.g{	background: #237abd;}

	.gd1 {@extend %gd1;}
	.gd2 {@extend %gd2;}
	.gd3 {@extend %gd3;}
	.gd4 {@extend %gd4;}
	.gd5 {@extend %gd5;}
	.gd6 {@extend %gd6;}
	.gd7 {@extend %gd7;}
	.gd8 {@extend %gd8;}
	.gd9 {@extend %gd9;}
	.gd10 {@extend %gd10;}
	.gd11 {@extend %gd11;}
	.gd12 {@extend %gd12;}
}


@include columns ($count: 5, $gap: 30px, $fill: balance, $break:avoid, $sectionWidth: 100%);

#columns {
	@include border-radius();
	@extend %columns;
	clear: both;
}
#new {
	@extend %gd3;
}
#new2 {
	@extend %gd6;
}

section {
	@extend %section;
	background:#fff;
	min-height:200px;
	&:nth-child(2n+1) {
		min-height:100px;
		background:$blue;
	}
	&:nth-child(4n-4) {
		min-height:320px;
	}
	&:nth-child(5n-2) {
		min-height:200px;
		background:$red;
	}
}
#animation {
	.btn {
		@extend %gd3;
		background:#333;
		margin: 2% 1%;
		padding: 2% 5%;
	}
}

// for the animate mixin, just call the selector, animation name, duration, and iterations
// the example below will create a .flash class selector that will do the flash animation for 2 seconds and loop it 5x
@include animate('.flash', flash, 1.5, infinite);
@include animate('.shake', shake, 1.5, infinite);
@include animate('.bounce', bounce, 1.5, infinite);
@include animate('.swing', swing, 1.5, infinite);
@include animate('.wobble', wobble, 1.5, infinite);
@include animate('.pulse', pulse, 1.5, infinite);
@include animate('.flipInX', flipInX, 1.5, infinite);
@include animate('.flipOutX', flipOutX, 1.5, infinite);
@include animate('.flipInY', flipInY, 1.5, infinite);
@include animate('.flipOutY', flipOutY, 1.5, infinite);



// Media Querys
@media only screen and (min-width: 1800px)
{
}
@media only screen and (max-width: $start-width)
{
	@include grid-wrap($gw-width: 100%);

}
@media only screen and (min-width: $mid-sm) and (max-width: $mid-lr)
{
	@include columns ($count: 3);
	#columns {
		@extend %columns;
	}
}
@media only screen and (min-width: $mobile-sm) and (max-width: $mobile-lr)
{
	@include grid-custom($mobile: true, $gw: true, $gw-width: 100%);
	@include columns ($count: 1);
	#columns {
		@extend %columns;
	}
}