// Global Elements 
@import "var";
@import "mixins";
@import "base";

// UI style
@include grid-wrap(0,0,0,0);
@include grid();

.top {
	@include gradient(#05456b, #3587f8, horizontal);
	height: 200px;
	width:100%;

	&:after {
		background: url("../images/headerbg.png") repeat scroll center center transparent;
	    bottom: 0;
	    content: "";
	    display: block;
	    left: 0;
	    opacity: 0.4;
	    position: absolute;
	    right: 0;
	    top: 0;
	}

	.top-header {
		z-index: 1;
		position: relative;
		@extend %gw;

		h1 {
			color: #fff;
			font-size: 3em;
			margin: 80px 0 0;
			text-shadow:
				0 1px 0 #CCCCCC, 
				0 2px 0 #CCCCCC, 
				0 3px 0 #BBBBBB, 
				0 4px 0 #AAAAAA, 
				0 5px 6px rgba(0, 0, 0, 0.4)
			
		}
	}
}


.container {
	@extend %gw;
	z-index: 5;
	position: relative;
	margin:0px auto 0;
	min-height: 1200px;
}

.nav {
	@extend %gd3;

	ul {
		border: 1px solid #ccc;  
		overflow: hidden;
		z-index: 9999;

		li {
			background: #fff;
			border-bottom: 1px solid #ccc;
			&.last {
				border-bottom: 0 none;
			}
			a {
				display: block;
				padding: 10px 2%;

				&:hover {
					background: #488ac2;
					color: #fff;
				}
			}
		}
	}
}
.content {
	@extend %gd9;

	.header {
		margin: 40px 0 0;
	}
	p {
		margin: 0 0 10px;

		&.note {
			background: #e8aeae;
			padding: 1% 2%;
			margin: 10px 0;
		}
		&.syntax {
			background: #fff;
			padding: 1% 2%;
			margin: 10px 0;
			border: 1px solid #aaa;
		}
	}
	.clear {clear:both;}
	hr {
		clear: both;
		margin: 60px 0 0;
		border-top: 1px solid rgba(0, 0, 0, 0.3); 
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
	.output {
		overflow: hidden;
		background: #fff;
		border:1px solid #ccc;
		padding: 1%;
	}
	.example {
		text-align: center;
		color: #fff;
	}

	.grid-example1 {
		overflow: auto;
		color: #fff;

		section {
			@extend %gd1;
			background: $blue;
			padding: 1% 2%;
			text-align: center;
		}
	}

	.example2 {
		margin: 20px 0 0;
	}
	.grid-example2 {
		margin: 0 0 40px;
		overflow: hidden;
		color: #fff;

		section {
			@for $i from 1 through 18 {
				width: ((100 / 18) - 2%);
				float:left;
				clear:none;
				margin:1%;
			}
			background: $blue;
			text-align: center;
		}
	}

	.grid-example3 {
		section {
			background: #42A7DD;
			min-height: 50px;
			color: #fff;
		}
		.three-column {
			@extend %gd3;
		}
		.nine-column {
			@extend %gd9;
		}
		.gd1 { @extend %gd1; }
		.gd2 { @extend %gd2; }
		.gd3 { @extend %gd3; }
		.gd4 { @extend %gd4; }
		.gd5 { @extend %gd5; }
		.gd6 { @extend %gd6; }
		.gd7 { @extend %gd7; }
		.gd8 { @extend %gd8; }
		.gd9 { @extend %gd9; }
		.gd10 { @extend %gd10; }
		.gd11 { @extend %gd11; }
		.gd12 { @extend %gd12; }
	}

	.grid-example4,
	.grid-example5 {
		section {
			background: #42A7DD;
			min-height: 50px;
			color: #fff;
		}

		.three-column-example {
			@extend %gd3;
			height: 90px;
		}
		.nine-column-example {
			@extend %gd9;
			height: 20px;
		}
		.four-column-example {
			@extend %gd4;
		}
		.eight-column-example {
			@extend %gd8;
		}
	}
	.grid-example5 {
		.four-column-example {
			@include alpha();
		}
	}

	.ellipsis-example {
		@extend %gd4;

		p {
			@include ellipsis;
		}
	}

	.element3 {
		@include calc(width, 10%, '-', 5px, 10%);
		height: 20px;
		color: #fff;
		background: #42A7DD;
	}
	.element4 {
		@include background-size(250px auto);
	}
	.element5,
	.element5b {
		@extend %gd3;
		height: 40px;
		background: #42A7DD;
	}
	.element5 {
		@include border-radius(5px);
	}
	.element5b {
		@include border-radius(5px 10px 2px 15px);
	}
	.element6 {
		border: 20px solid transparent;
		@include border-image(url('../images/border-img.jpg') 20 20 repeat);
		height: 100px;
		width: 200px;
		color: #333;
	}
	.element7 {
		@include box-shadow(0 3px 4px rgba(0,0,0,0.8));
		height: 100px;
		width: 200px;
		background: #42A7DD;
	}

	.element8,
	.element9,
	.element10,
	.element11,
	.element12 {
		@extend %gd3;
		padding: 1% 2%;
	}
	.element8 {
		@include gradient(#9bbe4d, #649419);
	}
	.element9 {
		@include gradient(#40a3db, #0c78b7, horizontal);
	}
	.element10 {
		@include gradient(#fdcd3d, #e99f00, radial);
	}
	.element11 {
		@include gradient(#e9574c, #9d0000, directional, 45);
	}
	.element12 {
		@include gradient(#ccc, #999, image, url('../images/arrow.png') no-repeat right center);
	}
	.element13,
	.element14,
	.element15,
	.element16 {
		@extend %gd3;
		padding: 1% 2%;
		background: #42A7DD;
	}
	.element13 {
		@include opacity(0.2);
	}
	.element14 {
		@include opacity(0.5);
	}
	.element15 {
		@include opacity(0.8);
	}
	.element16 {
		@include opacity(1);
	}



	.color-swatches {
		clear: both;
		overflow: hidden;

		li {
			display: inline-block;
			@extend %gd3;
			height: 50px;
			text-align: center;
			font-size: 90%;
			padding: 2%;
			color: #fff;

			&.white { background: $white; color:#999;}
			&.black { background: $black;}
			&.gray { background: $gray; color:#999;}
			&.red { background: $red;}
			&.orange { background: $orange;}
			&.blue { background: $blue;}
			&.green { background: $green;}
			&.yellow { background: $yellow; color:#999;}
			&.purple { background: $purple;}
			&.primary { background: $primary;}
			&.warning { background: $warning;}
			&.default { background: $default;}
			&.danger { background: $danger;}
			&.success { background: $success;}
			&.inverse { background: $inverse;}
			&.info { background: $info;}
		}
	}

	.html-example,
	.css-example {
		@extend %gd6;
	}
	button {
		@extend %gd3;
		border:1px solid #555;
	}
	.button-example1 {
		@include button($blue);
	}
	.button-example2 {
		@include button($blue, simple);
	}
	.button-example3 {
		@include button($blue, complex);
	}
	.button-example4 {
		@include button($blue, shiny);
	}
	.button-example5 {
		@include button($primary, flat, large);
	}
	.button-example6 {
		@include button($yellow, simple, regular);
	}
	.button-example7 {
		@include button($purple, complex, small);
	}
	.button-example8 {
		@include button($danger, shiny, mini);
	}
	.button-example9 {
		@include button($orange, flat, regular, 6pt);
		@include alpha();
	}
	.button-example10 {
		@include button($green, simple, regular, 0.5em);
	}
	.button-example11 {
		@include button($inverse, complex, small, 5px);
	}
	.button-example12 {
		@include button($info, shiny, mini, 15px);
	}

	.button-icon-example1 {
		@include button($blue);
		i {
			@include icon(arrow);
		}
	}
	.button-icon-example2 {
		@include button($red, complex);
		i {
			@include icon(lock);
		}
	}
	.button-icon-example3 {
		@include button($blue, complex, regular, 5px);
		span {
			@include icon(twitter-bird);
		}
	}
	ul.icons {
		@extend %gd3;
		li {
			margin: 0 0 5px;
			font-size: 1em;
			i {
				&.arrow {@include icon(arrow);}
				&.move {@include icon(move);}
				&.eye {@include icon(eye);}
				&.search {@include icon(search);}
				&.zoom-out {@include icon(zoom-out);}
				&.zoom-in {@include icon(zoom-in);}
				&.paperclip {@include icon(paperclip);}
				&.pencil {@include icon(pencil);}
				&.touch {@include icon(touch);}
				&.trash {@include icon(trash);}
				&.lock {@include icon(lock);}
				&.hand {@include icon(hand);}
				&.unlock {@include icon(unlock);}
				&.error {@include icon(error);}
				&.bookmark {@include icon(bookmark);}

				&.star-black {@include icon(star-black);}
				&.star-white {@include icon(star-white);}
				&.thumbs-up {@include icon(thumbs-up);}
				&.thumbs-down {@include icon(thumbs-down);}
				&.flame {@include icon(flame);}
				&.heart {@include icon(heart);}
				&.flag {@include icon(flag);}
				&.crown {@include icon(crown);}
				&.star {@include icon(star);}
				&.google-plus {@include icon(google-plus);}
				&.twitter-bird {@include icon(twitter-bird);}
				&.twitter {@include icon(twitter);}
				&.facebook {@include icon(facebook);}
				&.linkedin {@include icon(linkedin);}
				&.dribbble {@include icon(dribbble);}

				&.paypal {@include icon(paypal);}
				&.dropbox {@include icon(dropbox);}
				&.skype {@include icon(skype);}
				&.brush {@include icon(brush);}
				&.ink {@include icon(ink);}
				&.paint {@include icon(paint);}
				&.unselected {@include icon(unselected);}
				&.selected {@include icon(selected);}
				&.foreground {@include icon(foreground);}
				&.background {@include icon(background);}
				&.layers {@include icon(layers);}
				&.colors {@include icon(colors);}
				&.magnet {@include icon(magnet);}
				&.call {@include icon(call);}
				&.phone {@include icon(phone);}

				&.at-symbol {@include icon(at-symbol);}
				&.film {@include icon(film);}
				&.bullhorn {@include icon(bullhorn);}
				&.mailbox {@include icon(mailbox);}
				&.satellite {@include icon(satellite);}
				&.rss {@include icon(rss);}
				&.cellphone {@include icon(cellphone);}
				&.mail {@include icon(mail);}
				&.speech-bubble {@include icon(speech-bubble);}
				&.speech-bubbles {@include icon(speech-bubbles);}
				&.happy {@include icon(happy);}
				&.sad {@include icon(sad);}
				&.neutral {@include icon(neutral);}
				&.smile {@include icon(smile);}
				&.wink {@include icon(wink);}

				&.surprised {@include icon(surprised);}
				&.profile {@include icon(profile);}
				&.user-full {@include icon(user-full);}
				&.user-suit {@include icon(user-suit);}
				&.user-info {@include icon(user-info);}
				&.user-male {@include icon(user-male);}
				&.user-female {@include icon(user-female);}
				&.female-symbol {@include icon(female-symbol);}
				&.male-symbol {@include icon(male-symbol);}
				&.cart {@include icon(cart);}
				&.wallet {@include icon(wallet);}
				&.pay {@include icon(pay);}
				&.register {@include icon(register);}
				&.buy {@include icon(buy);}
				&.sell {@include icon(sell);}

				&.new {@include icon(new);}
				&.credit-card {@include icon(credit-card);}
				&.truck {@include icon(truck);}
				&.graph {@include icon(graph);}
				&.building {@include icon(building);}
				&.house {@include icon(house);}
				&.island {@include icon(island);}
				&.christmas-tree {@include icon(christmas-tree);}
				&.tree {@include icon(tree);}
				&.marker-star {@include icon(marker-star);}
				&.marker {@include icon(marker);}
				&.scroll {@include icon(scroll);}
				&.html5 {@include icon(html5);}
				&.css3 {@include icon(css3);}
				&.browsers {@include icon(browsers);}

				&.save {@include icon(save);}
				&.window {@include icon(window);}
				&.window-down {@include icon(window-down);}
				&.window-up {@include icon(window-up);}
				&.stack {@include icon(stack);}
				&.camera {@include icon(camera);}
				&.video {@include icon(video);}
				&.screen {@include icon(screen);}
				&.music {@include icon(music);}
				&.tv {@include icon(tv);}
				&.video-camera {@include icon(video-camera);}
				&.display {@include icon(display);}
				&.mp3-player {@include icon(mp3-player);}
				&.disc-drive {@include icon(disc-drive);}
				&.hdd {@include icon(hdd);}

				&.step-backward {@include icon(step-backward);}
				&.rewind {@include icon(rewind);}
				&.pause {@include icon(pause);}
				&.play {@include icon(play);}
				&.fast-forward {@include icon(fast-forward);}
				&.step-forward {@include icon(step-forward);}
				&.battery-low {@include icon(battery-low);}
				&.battery-half {@include icon(battery-half);}
				&.battery-full {@include icon(battery-full);}
				&.battery-charging {@include icon(battery-charging);}
				&.drawer {@include icon(drawer);}
				&.notebook {@include icon(notebook);}
				&.book {@include icon(book);}
				&.open-book {@include icon(open-book);}
				&.flowchart {@include icon(flowchart);}

				&.grid {@include icon(grid);}
				&.grid-large {@include icon(grid-large);}
				&.list-large {@include icon(list-large);}
				&.list {@include icon(list);}
				&.present {@include icon(present);}
				&.rocket {@include icon(rocket);}
				&.fire {@include icon(fire);}
				&.lightbulb {@include icon(lightbulb);}
				&.hanger {@include icon(hanger);}
				&.top-hat {@include icon(top-hat);}
				&.surveillance {@include icon(surveillance);}
				&.download {@include icon(download);}
				&.upload {@include icon(upload);}
				&.cloud-download {@include icon(cloud-download);}
				&.cloud-upload {@include icon(cloud-upload);}

				&.repeat {@include icon(repeat);}
				&.file {@include icon(file);}
				&.file-award {@include icon(file-award);}
				&.file-zip {@include icon(file-zip);}
				&.file-bookmark {@include icon(file-bookmark);}
				&.file-text {@include icon(file-text);}
				&.file-graph {@include icon(file-graph);}
				&.file-excel {@include icon(file-excel);}
				&.file-picture {@include icon(file-picture);}
				&.file-play {@include icon(file-play);}
				&.file-code {@include icon(file-code);}
				&.file-stats {@include icon(file-stats);}
				&.file-music {@include icon(file-music);}
				&.move-dark {@include icon(move-dark);}
				&.move-light {@include icon(move-light);}

				&.folder {@include icon(folder);}
				&.power {@include icon(power);}
				&.check {@include icon(check);}
				&.check-circle {@include icon(check-circle);}
				&.check-clipboard {@include icon(check-clipboard);}
				&.stop {@include icon(stop);}
				&.x-checkbox {@include icon(x-checkbox);}
				&.settings {@include icon(settings);}
				&.wait {@include icon(wait);}
				&.calendar {@include icon(calendar);}
				&.left-arrow {@include icon(left-arrow);}
				&.right-arrow {@include icon(right-arrow);}
				&.up-arrow {@include icon(up-arrow);}
				&.down-arrow {@include icon(down-arrow);}
				&.coffee {@include icon(coffee);}
			}
		}
		
	}
	

	// .button5,
	// .button6,
	// .button7,
	// .button8 {
	// 	@include button($blue, complex);
	// }
	.button5 {
		@include button($blue, complex, large);
	}
	.button6 {
		@include button($blue, complex, regular);
	}
	.button7 {
		@include button($blue, complex, small);
	}
	.button8 {
		@include button($blue, complex, mini);
	}

	input.warning {
		@include input(warning);
	}
	input.error {
		@include input(error);
	}
	input.success {
		@include input(success);
	}
	input.info {
		@include input(info);
	}
	input.disabled {
		@include input(disabled);
	}


	.transition-example1,
	.transition-example2 {
		@extend %gd4;
		background: #42A7DD;
		height: 40px;
	}
	.transition-example1 {
		@include transition(background 1s ease);

		&:hover {
			background: #ff0000;
		}
	}
	.transition-example2 {
		@include transition(background 1s ease, height 2s ease-in);

		&:hover {
			background: #ff0000;
			height: 100px;
		}
	}

	.rotate {
		padding: 14% 1%;
	}
	.rotate-example1,
	.rotate-example2,
	.rotate-example3 {
		@extend %gd4;
		background: #42A7DD;
		height: 40px;
	}
	.rotate-example1 {
		@include rotate(45);
	}
	.rotate-example2 {
		@include rotate(90);
	}
	.rotate-example3 {
		@include rotate(160);
	}

	.rotate3d {
		padding: 14% 1%;
	}
	.rotate3d-example1,
	.rotate3d-example2,
	.rotate3d-example3 {
		@extend %gd4;
		background: #42A7DD;
		height: 40px;
	}
	.rotate3d-example1 {
		@include rotate3d(131, 160, -180, 80);
	}
	.rotate3d-example2 {
		@include rotate3d(50, 64, 25, 60);
	}
	.rotate3d-example3 {
		@include rotate3d(-60, 415, 170, 145);
	}

	.scale {
		padding: 5% 1%;
	}
	.scale-example1,
	.scale-example2,
	.scale-example3 {
		@extend %gd2;
		background: #42A7DD;
		height: 40px;
		margin: 1% 8%;
	}
	.scale-example1 {
		@include scale(1);
	}
	.scale-example2 {
		@include scale(1.5);
	}
	.scale-example3 {
		@include scale(2.0);
	}

	.translate {
		padding: 5% 1%;
	}
	.translate-example1,
	.translate-example2,
	.translate-example3 {
		@extend %gd2;
		background: #42A7DD;
		height: 40px;
		margin: 1% 8%;
	}
	.translate-example1 {
		@include translate(0px, 50px);
	}
	.translate-example2 {
		@include translate(45px, -30px);
	}
	.translate-example3 {
		@include translate(0, 0);
	}

	.translate3d {
		padding: 5% 1%;
	}
	.translate3d-example1,
	.translate3d-example2,
	.translate3d-example3 {
		@extend %gd2;
		background: #42A7DD;
		height: 40px;
		margin: 1% 8%;
	}
	.translate3d-example1 {
		@include translate3d(0px, 50px, 20px);
	}
	.translate3d-example2 {
		@include translate3d(45px, -30px, 95px);
	}
	.translate3d-example3 {
		@include translate3d(0, 0, 80px);
	}

	.skew {
		padding: 5% 1%;
	}
	.skew-example1,
	.skew-example2,
	.skew-example3 {
		@extend %gd2;
		background: #42A7DD;
		height: 40px;
		margin: 1% 8%;
	}
	.skew-example1 {
		@include skew(0, 34);
	}
	.skew-example2 {
		@include skew(45, -30);
	}
	.skew-example3 {
		@include skew(-30, -10);
	}

	.matrix {
		padding: 5% 1%;
	}
	.matrix-example1,
	.matrix-example2,
	.matrix-example3 {
		@extend %gd2;
		background: #42A7DD;
		height: 40px;
		margin: 1% 8%;
	}
	.matrix-example1 {
		@include matrix(0.7, -0.2, 0, 1, 0, 0);
	}
	.matrix-example2 {
		@include matrix(1, 0.2, 0.6, 1, 150, 0)
	}
	.matrix-example3 {
		@include matrix(0.4, -0.4, 1, 0.6, 40, -30)
	}

	.animation-list {
		@extend %gd6;
		list-style: disc inside none; 

		li {
			cursor: pointer;

			&:hover {
				color: #488AC2;
				text-decoration: underline;
			}
		}
	}
	.animate {
		padding: 5% 1%;
	}
	.animate-example {
		@extend %gd4;
		background: #42A7DD;
		height: 40px;
		margin: 1% 8%;
	}

	.animate-me {
		display: none;
		position: fixed;
		top: 20px;
		width: 200px;
		height: 40px;
		left: 50%;
		margin: 0 0 0 -100px;
		padding: 8px;
		background: #42A7DD; 
		border: 1px solid #888;
		text-align: center;
		color: #fff;
		@include border-radius(4px);
		@include box-shadow(0 0 5px rgba(0,0,0,0.3));
		@include gradient(#42A7DD, darken(#42A7DD, 10%));
	}


} //end .content

.footer {
	background: #999;
	height: 300px;

	.footer-content {
		@extend %gw;
	}
}


@include animate('.animate-example', flash, 1, infinite);

@include animate('.animate-me.flash', flash);
@include animate('.animate-me.shake', shake);
@include animate('.animate-me.bounce', bounce);
@include animate('.animate-me.swing', swing);
@include animate('.animate-me.wobble', wobble);
@include animate('.animate-me.pulse', pulse);
@include animate('.animate-me.flipInX', flipInX);
@include animate('.animate-me.flipOutX', flipOutX);
@include animate('.animate-me.flipInY', flipInY);
@include animate('.animate-me.flipOutY', flipOutY);
@include animate('.animate-me.fadeIn', fadeIn);
@include animate('.animate-me.fadeInUp', fadeInUp);
@include animate('.animate-me.fadeInDown', fadeInDown);
@include animate('.animate-me.fadeInLeft', fadeInLeft);
@include animate('.animate-me.fadeInRight', fadeInRight);
@include animate('.animate-me.fadeInUpBig', fadeInUpBig);
@include animate('.animate-me.fadeInDownBig', fadeInDownBig);
@include animate('.animate-me.fadeInLeftBig', fadeInLeftBig);
@include animate('.animate-me.fadeInRightBig', fadeInRightBig);
@include animate('.animate-me.fadeOut', fadeOut);
@include animate('.animate-me.fadeOutUp', fadeOutUp);
@include animate('.animate-me.fadeOutDown', fadeOutDown);
@include animate('.animate-me.fadeOutLeft', fadeOutLeft);
@include animate('.animate-me.fadeOutRight', fadeOutRight);
@include animate('.animate-me.fadeOutUpBig', fadeOutUpBig);
@include animate('.animate-me.fadeOutDownBig', fadeOutDownBig);
@include animate('.animate-me.fadeOutLeftBig', fadeOutLeftBig);
@include animate('.animate-me.fadeOutRightBig', fadeOutRightBig);
@include animate('.animate-me.bounceIn', bounceIn);
@include animate('.animate-me.bounceInUp', bounceInUp);
@include animate('.animate-me.bounceInDown', bounceInDown);
@include animate('.animate-me.bounceInLeft', bounceInLeft);
@include animate('.animate-me.bounceInRight', bounceInRight);
@include animate('.animate-me.bounceOut', bounceOut);
@include animate('.animate-me.bounceOutUp', bounceOutUp);
@include animate('.animate-me.bounceOutDown', bounceOutDown);
@include animate('.animate-me.bounceOutLeft', bounceOutLeft);
@include animate('.animate-me.bounceOutRight', bounceOutRight);
@include animate('.animate-me.rotateIn', rotateIn);
@include animate('.animate-me.rotateInUpLeft', rotateInUpLeft);
@include animate('.animate-me.rotateInDownLeft', rotateInDownLeft);
@include animate('.animate-me.rotateInUpRight', rotateInUpRight);
@include animate('.animate-me.rotateInDownRight', rotateInDownRight);
@include animate('.animate-me.rotateOut', rotateOut);
@include animate('.animate-me.rotateOutUpLeft', rotateOutUpLeft);
@include animate('.animate-me.rotateOutDownLeft', rotateOutDownLeft);
@include animate('.animate-me.rotateOutUpRight', rotateOutUpRight);
@include animate('.animate-me.rotateOutDownRight', rotateOutDownRight);
@include animate('.animate-me.lightSpeedIn', lightSpeedIn);
@include animate('.animate-me.lightSpeedOut', lightSpeedOut);


// Media Querys
@media only screen and (min-width: 1800px)
{
}
@media only screen and (max-width: $start-width)
{
	@include grid-wrap($gw-width: 100%);
}
@media only screen and (min-width: $mid-sm) and (max-width: $mid-lr)
{
	// @include columns ($count: 3);
	// #columns {
	// 	@extend %columns;
	// }
	.content {
		ul.icons {
			width: 31%;
			float: left;
			clear: none;
		}
	}
	
}
@media only screen and (min-width: $mobile-sm) and (max-width: $mobile-lr)
{
	@include grid-custom($mobile: true, $gw: true, $gw-width: 100%);
	// @include columns ($count: 1);
	// #columns {
	// 	@extend %columns;
	// }
	.content {
		.grid-example2 {
			section {
				width: 98%;
			}
		}
		ul.icons {
			width: 48%;
			float: left;
			clear: none;
		}
	}
	
}