/* line 1, ../sass/_base.scss */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/_base.scss */
img {
  border: 0 none;
}

@font-face {
  font-family: "ITCAvantGardeGothicStdMedium";
  src: url("../fonts/itcavantgardestd-md.eot");
  src: url("../fonts/itcavantgardestd-md.eot") format("embedded-opentype"), url("../fonts/itcavantgardestd-md.woff") format("woff"), url("../fonts/itcavantgardestd-md.ttf") format("truetype"), url("../fonts/itcavantgardestd-md.svg#ITCAvantGardeGothicStdMedium") format("svg");
}

@font-face {
  font-family: "ITCAvantGardeGothicStdBook";
  src: url("../fonts/itcavantgardestd-bk.eot");
  src: url("../fonts/itcavantgardestd-bk.eot") format("embedded-opentype"), url("../fonts/itcavantgardestd-bk.woff") format("woff"), url("../fonts/itcavantgardestd-bk.ttf") format("truetype"), url("../fonts/itcavantgardestd-bk.svg#ITCAvantGardeGothicStdBook") format("svg");
}

/* line 12, ../sass/_base.scss */
body {
  background: none center center no-repeat #efefef;
  color: #666666;
  font-size: 100%;
  font-family: "ITCAvantGardeGothicStdMedium";
}

/* line 18, ../sass/_base.scss */
.mOff {
  display: block;
}

/* line 21, ../sass/_base.scss */
.mOn {
  display: none;
}

/* line 24, ../sass/_base.scss */
a {
  color: #42a7dd;
  text-decoration: none;
}
/* line 27, ../sass/_base.scss */
a:hover {
  color: #e24547;
}

/* line 31, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "ITCAvantGardeGothicStdMedium";
  font-weight: normal;
  letter-spacing: .02em;
}

/* line 36, ../sass/_base.scss */
h1 {
  font-size: 2em;
  color: #575258;
}

/* line 40, ../sass/_base.scss */
h2 {
  font-size: 1.3em;
  color: #828282;
}

/* line 44, ../sass/_base.scss */
h3 {
  font-size: 1.2em;
  color: #828282;
}

/* line 48, ../sass/_base.scss */
h4 {
  font-size: 1em;
}

/* line 51, ../sass/_base.scss */
h5 {
  font-size: 0.8em;
}

/* line 54, ../sass/_base.scss */
h6 {
  font-size: 0.6em;
}

/* line 57, ../sass/_base.scss */
label {
  font-size: 1em;
}

/* line 60, ../sass/_base.scss */
p {
  font-size: 0.8em;
}

/* line 63, ../sass/_base.scss */
ul {
  list-style: none;
}
/* line 65, ../sass/_base.scss */
ul li {
  font-size: 0.7em;
}

/* line 69, ../sass/_base.scss */
ol {
  list-style-position: inside;
}

/* line 73, ../sass/_base.scss */
input[type="text"], input[type="number"], input[type="email"], input[type="password"], textarea {
  padding: .8% .6%;
  border: 0 none;
  font-size: 1em;
  background: white;
  color: #b9b9b9;
  border: none;
  margin: 0;
  width: 100%;
  display: block;
}
/* line 85, ../sass/_base.scss */
input[type="text"].halfIn, input[type="number"].halfIn, input[type="email"].halfIn, input[type="password"].halfIn, textarea.halfIn {
  float: left;
  margin: 1%;
  width: 48%;
}

/* line 91, ../sass/_base.scss */
textarea:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  color: #676667;
  background: white;
}

/* line 95, ../sass/_base.scss */
input:focus::-webkit-input-placeholder, input:focus::-moz-placeholder {
  color: #676667;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 99, ../sass/_base.scss */
textarea {
  min-height: 166px;
}

/* line 135, ../sass/_mixins.scss */
span.selWrap {
  width: 100%;
  margin: 0 auto;
  height: 36px;
  position: relative;
  display: block;
  padding: 0;
}

/* line 143, ../sass/_mixins.scss */
span.selText {
  margin: 0;
  z-index: 1;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  height: 36px;
  line-height: 36px;
  padding: 0 0.4em;
  font-weight: normal;
  color: #757474;
  font-size: 1em;
  background: url("../images/arrow.png") 100% 97.8% no-repeat scroll white;
  background: url("../images/arrow.png") 100% 97.8% no-repeat scroll, -webkit-gradient(linear, left bottom, left top, from(#e7e7e7), to(white));
  background: url("../images/arrow.png") 100% 97.8% no-repeat scroll, -webkit-linear-gradient(center top, white, #e7e7e7);
  background: url("../images/arrow.png") 100% 97.8% no-repeat scroll, -moz-linear-gradient(center top, white, #e7e7e7);
  background: url("../images/arrow.png") 100% 97.8% no-repeat scroll, -ms-linear-gradient(center top, white, #e7e7e7);
  background: url("../images/arrow.png") 100% 97.8% no-repeat scroll, -o-linear-gradient(center top, white, #e7e7e7);
  border: 4px solid #eaeaea;
}

/* line 161, ../sass/_mixins.scss */
select.selIner {
  width: 100%;
  height: 36px;
  position: absolute;
  z-index: 2;
  padding: 0;
  margin: 0;
  border: 0 none;
  float: none;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-appearance: menulist-button;
}

/* line 213, ../sass/_mixins.scss */
#new, #new2 {
  float: left;
  clear: none;
  margin: 1% 1% 1% 1%;
}

/* line 219, ../sass/_mixins.scss */
#new {
  width: 23%;
}

/* line 219, ../sass/_mixins.scss */
#new2 {
  width: 48%;
}

/* line 177, ../sass/_mixins.scss */
#columns {
  -webkit-column-count: 5;
  -webkit-column-gap: 30px;
  -webkit-column-fill: auto;
  -moz-column-count: 5;
  -moz-column-gap: 30px;
  -moz-column-fill: auto;
  column-count: 5;
  column-gap: 30px;
  column-fill: auto;
}

/* line 188, ../sass/_mixins.scss */
section {
  display: inline-block;
  width: 100%;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

/* line 11, ../sass/master.scss */
#columns {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 22, ../sass/master.scss */
section {
  background: #fff;
  min-height: 200px;
}
/* line 26, ../sass/master.scss */
section:nth-child(2n+1) {
  min-height: 100px;
  background: #42a7dd;
}
/* line 30, ../sass/master.scss */
section:nth-child(4n-4) {
  min-height: 320px;
}
/* line 33, ../sass/master.scss */
section:nth-child(5n-2) {
  min-height: 200px;
  background: #e24547;
}

@media only screen and (min-width: 481px) and (max-width: 816px) {
  /* line 177, ../sass/_mixins.scss */
  #columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 1%;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 1%;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 1%;
    column-fill: auto;
  }

  /* line 188, ../sass/_mixins.scss */
  section {
    display: inline-block;
    width: 100%;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
  }
}
@media only screen and (min-width: 0) and (max-width: 480px) {
  /* line 223, ../sass/_mixins.scss */
  #new, #new2 {
    float: none;
    clear: both;
    margin: 1% 1% 1% 1%;
    width: 98%;
  }

  /* line 177, ../sass/_mixins.scss */
  #columns {
    -webkit-column-count: 1;
    -webkit-column-gap: 1%;
    -webkit-column-fill: auto;
    -moz-column-count: 1;
    -moz-column-gap: 1%;
    -moz-column-fill: auto;
    column-count: 1;
    column-gap: 1%;
    column-fill: auto;
  }

  /* line 188, ../sass/_mixins.scss */
  section {
    display: inline-block;
    width: 100%;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
  }
}
