/* line 1, ../sass/_base.scss */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/_base.scss */
img {
  border: 0 none;
}

@font-face {
  font-family: "ITCAvantGardeGothicStdMedium";
  src: url("../fonts/itcavantgardestd-md.eot");
  src: url("../fonts/itcavantgardestd-md.eot") format("embedded-opentype"), url("../fonts/itcavantgardestd-md.woff") format("woff"), url("../fonts/itcavantgardestd-md.ttf") format("truetype"), url("../fonts/itcavantgardestd-md.svg#ITCAvantGardeGothicStdMedium") format("svg");
}

@font-face {
  font-family: "ITCAvantGardeGothicStdBook";
  src: url("../fonts/itcavantgardestd-bk.eot");
  src: url("../fonts/itcavantgardestd-bk.eot") format("embedded-opentype"), url("../fonts/itcavantgardestd-bk.woff") format("woff"), url("../fonts/itcavantgardestd-bk.ttf") format("truetype"), url("../fonts/itcavantgardestd-bk.svg#ITCAvantGardeGothicStdBook") format("svg");
}

/* line 12, ../sass/_base.scss */
body {
  background: none center center no-repeat #efefef;
  color: #666666;
  font-size: 100%;
  font-family: "ITCAvantGardeGothicStdMedium";
}

/* line 18, ../sass/_base.scss */
.mOff {
  display: block;
}

/* line 21, ../sass/_base.scss */
.mOn {
  display: none;
}

/* line 24, ../sass/_base.scss */
a {
  color: #42a7dd;
  text-decoration: none;
}
/* line 27, ../sass/_base.scss */
a:hover {
  color: #e24547;
}

/* line 31, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "ITCAvantGardeGothicStdMedium";
  font-weight: normal;
  letter-spacing: .02em;
}

/* line 36, ../sass/_base.scss */
h1 {
  font-size: 2em;
  color: #575258;
}

/* line 40, ../sass/_base.scss */
h2 {
  font-size: 1.3em;
  color: #828282;
}

/* line 44, ../sass/_base.scss */
h3 {
  font-size: 1.2em;
  color: #828282;
}

/* line 48, ../sass/_base.scss */
h4 {
  font-size: 1em;
}

/* line 51, ../sass/_base.scss */
h5 {
  font-size: 0.8em;
}

/* line 54, ../sass/_base.scss */
h6 {
  font-size: 0.6em;
}

/* line 57, ../sass/_base.scss */
label {
  font-size: 1em;
}

/* line 60, ../sass/_base.scss */
p {
  font-size: 0.8em;
}

/* line 63, ../sass/_base.scss */
ul {
  list-style: none;
}
/* line 65, ../sass/_base.scss */
ul li {
  font-size: 0.7em;
}

/* line 69, ../sass/_base.scss */
ol {
  list-style-position: inside;
}

/* line 73, ../sass/_base.scss */
input[type="text"], input[type="number"], input[type="email"], input[type="password"], textarea {
  padding: 0.8% 0.6%;
  border: 0 none;
  font-size: 1em;
  background: white;
  color: #b9b9b9;
  border: none;
  margin: 0;
  width: 100%;
  display: block;
}
/* line 85, ../sass/_base.scss */
input[type="text"].halfIn, input[type="number"].halfIn, input[type="email"].halfIn, input[type="password"].halfIn, textarea.halfIn {
  float: left;
  margin: 1%;
  width: 48%;
}

/* line 91, ../sass/_base.scss */
textarea:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  color: #676667;
  background: white;
}

/* line 95, ../sass/_base.scss */
input:focus::-webkit-input-placeholder, input:focus::-moz-placeholder {
  color: #676667;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 99, ../sass/_base.scss */
textarea {
  min-height: 166px;
}

/* line 188, ../sass/_mixins.scss */
span.selWrap {
  width: 100%;
  margin: 0 auto;
  height: 36px;
  position: relative;
  display: block;
  padding: 0;
}

/* line 196, ../sass/_mixins.scss */
span.selText {
  margin: 0;
  z-index: 1;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  height: 36px;
  line-height: 36px;
  padding: 0 0.4em;
  font-weight: normal;
  color: #757474;
  font-size: 1em;
  background: url('url("../images/arrow.png") 100% 97.8%') no-repeat scroll white;
  background: url('url("../images/arrow.png") 100% 97.8%') no-repeat scroll, -webkit-linear-gradient(center top, #ffffff, #e7e7e7);
  background: url('url("../images/arrow.png") 100% 97.8%') no-repeat scroll, -moz-linear-gradient(center top, #ffffff, #e7e7e7);
  background: url('url("../images/arrow.png") 100% 97.8%') no-repeat scroll, -ms-linear-gradient(center top, #ffffff, #e7e7e7);
  background: url('url("../images/arrow.png") 100% 97.8%') no-repeat scroll, -o-linear-gradient(center top, #ffffff, #e7e7e7);
  background: url('url("../images/arrow.png") 100% 97.8%') no-repeat scroll, linear-gradient(center top, #ffffff, #e7e7e7);
  border: 4px solid #eaeaea;
}

/* line 214, ../sass/_mixins.scss */
select.selIner {
  width: 100%;
  height: 36px;
  position: absolute;
  z-index: 2;
  padding: 0;
  margin: 0;
  border: 0 none;
  float: none;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-appearance: menulist-button;
}

/* line 58, ../sass/_mixins.scss */
#gridstructure {
  overflow: hidden;
  width: 1280px;
  margin: 0 auto;
  padding: 1% 1% 1% 1%;
}

/* line 69, ../sass/_mixins.scss */
#gridstructure .gd1, #gridstructure .gd2, #gridstructure .gd3, #new, #animation .btn, #gridstructure .gd4, #gridstructure .gd5, #gridstructure .gd6, #new2, #gridstructure .gd7, #gridstructure .gd8, #gridstructure .gd9, #gridstructure .gd10, #gridstructure .gd11, #gridstructure .gd12 {
  float: left;
  clear: none;
  margin: 1% 1% 1% 1%;
}

/* line 75, ../sass/_mixins.scss */
#gridstructure .gd1 {
  width: 6.33333%;
}

/* line 75, ../sass/_mixins.scss */
#gridstructure .gd2 {
  width: 14.66667%;
}

/* line 75, ../sass/_mixins.scss */
#gridstructure .gd3, #new, #animation .btn {
  width: 23%;
}

/* line 75, ../sass/_mixins.scss */
#gridstructure .gd4 {
  width: 31.33333%;
}

/* line 75, ../sass/_mixins.scss */
#gridstructure .gd5 {
  width: 39.66667%;
}

/* line 75, ../sass/_mixins.scss */
#gridstructure .gd6, #new2 {
  width: 48%;
}

/* line 75, ../sass/_mixins.scss */
#gridstructure .gd7 {
  width: 56.33333%;
}

/* line 75, ../sass/_mixins.scss */
#gridstructure .gd8 {
  width: 64.66667%;
}

/* line 75, ../sass/_mixins.scss */
#gridstructure .gd9 {
  width: 73%;
}

/* line 75, ../sass/_mixins.scss */
#gridstructure .gd10 {
  width: 81.33333%;
}

/* line 75, ../sass/_mixins.scss */
#gridstructure .gd11 {
  width: 89.66667%;
}

/* line 75, ../sass/_mixins.scss */
#gridstructure .gd12 {
  width: 98%;
}

/* line 9, ../sass/master.scss */
#gridstructure {
  text-align: center;
  color: #fff;
}
/* line 14, ../sass/master.scss */
#gridstructure .g {
  background: #237abd;
}

/* line 28, ../sass/_mixins.scss */
#columns {
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
  -o-column-fill: balance;
  column-fill: balance;
  -webkit-column-count: 5;
  -moz-column-count: 5;
  -o-column-count: 5;
  column-count: 5;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  -o-column-gap: 30px;
  column-gap: 30px;
}

/* line 33, ../sass/_mixins.scss */
section {
  display: inline-block;
  width: 100%;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  column-break-inside: avoid;
}

/* line 33, ../sass/master.scss */
#columns {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  clear: both;
}

/* line 45, ../sass/master.scss */
section {
  background: #fff;
  min-height: 200px;
}
/* line 49, ../sass/master.scss */
section:nth-child(2n+1) {
  min-height: 100px;
  background: #42a7dd;
}
/* line 53, ../sass/master.scss */
section:nth-child(4n-4) {
  min-height: 320px;
}
/* line 56, ../sass/master.scss */
section:nth-child(5n-2) {
  min-height: 200px;
  background: #e24547;
}

/* line 62, ../sass/master.scss */
#animation .btn {
  background: #333;
  margin: 2% 1%;
  padding: 2% 5%;
}

/* line 336, ../sass/_mixins.scss */
.flash {
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -o-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

@keyframes flash {
  /* line 358, ../sass/_mixins.scss */
  0%, 50%, 100% {
    opacity: 1;
  }

  /* line 359, ../sass/_mixins.scss */
  25%, 75% {
    opacity: 0;
  }
}

/* line 336, ../sass/_mixins.scss */
.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

@keyframes shake {
  /* line 362, ../sass/_mixins.scss */
  0%, 100% {
    transform: translateX(0);
  }

  /* line 363, ../sass/_mixins.scss */
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  /* line 364, ../sass/_mixins.scss */
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/* line 336, ../sass/_mixins.scss */
.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

@keyframes bounce {
  /* line 367, ../sass/_mixins.scss */
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  /* line 368, ../sass/_mixins.scss */
  40% {
    transform: translateY(-30px);
  }

  /* line 369, ../sass/_mixins.scss */
  60% {
    transform: translateY(-15px);
  }
}

/* line 336, ../sass/_mixins.scss */
.swing {
  -webkit-animation-name: swing;
  -moz-animation-name: swing;
  -o-animation-name: swing;
  animation-name: swing;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

@keyframes swing {
  /* line 372, ../sass/_mixins.scss */
  20%, 40%, 60%, 80%, 100% {
    transform-origin: top center;
  }

  /* line 373, ../sass/_mixins.scss */
  20% {
    transform: rotate(15deg);
  }

  /* line 374, ../sass/_mixins.scss */
  40% {
    transform: rotate(-10deg);
  }

  /* line 375, ../sass/_mixins.scss */
  60% {
    transform: rotate(5deg);
  }

  /* line 376, ../sass/_mixins.scss */
  80% {
    transform: rotate(-5deg);
  }

  /* line 377, ../sass/_mixins.scss */
  100% {
    transform: rotate(0deg);
  }
}

/* line 336, ../sass/_mixins.scss */
.wobble {
  -webkit-animation-name: wobble;
  -moz-animation-name: wobble;
  -o-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

@keyframes wobble {
  /* line 380, ../sass/_mixins.scss */
  0% {
    transform: translateX(0%);
  }

  /* line 381, ../sass/_mixins.scss */
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }

  /* line 382, ../sass/_mixins.scss */
  30% {
    transform: translateX(20%) rotate(3deg);
  }

  /* line 383, ../sass/_mixins.scss */
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }

  /* line 384, ../sass/_mixins.scss */
  60% {
    transform: translateX(10%) rotate(2deg);
  }

  /* line 385, ../sass/_mixins.scss */
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }

  /* line 386, ../sass/_mixins.scss */
  100% {
    transform: translateX(0%);
  }
}

/* line 336, ../sass/_mixins.scss */
.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

@keyframes pulse {
  /* line 389, ../sass/_mixins.scss */
  0% {
    transform: scale(1);
  }

  /* line 390, ../sass/_mixins.scss */
  50% {
    transform: scale(1.1);
  }

  /* line 391, ../sass/_mixins.scss */
  100% {
    transform: scale(1);
  }
}

/* line 336, ../sass/_mixins.scss */
.flipInX {
  -webkit-animation-name: flipInX;
  -moz-animation-name: flipInX;
  -o-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

@keyframes flipInX {
  /* line 394, ../sass/_mixins.scss */
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 395, ../sass/_mixins.scss */
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }

  /* line 396, ../sass/_mixins.scss */
  70% {
    transform: perspective(400px) rotateX(10deg);
  }

  /* line 397, ../sass/_mixins.scss */
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

/* line 336, ../sass/_mixins.scss */
.flipOutX {
  -webkit-animation-name: flipOutX;
  -moz-animation-name: flipOutX;
  -o-animation-name: flipOutX;
  animation-name: flipOutX;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

@keyframes flipOutX {
  /* line 400, ../sass/_mixins.scss */
  0% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 401, ../sass/_mixins.scss */
  100% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

/* line 336, ../sass/_mixins.scss */
.flipInY {
  -webkit-animation-name: flipInY;
  -moz-animation-name: flipInY;
  -o-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

@keyframes flipInY {
  /* line 404, ../sass/_mixins.scss */
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  /* line 405, ../sass/_mixins.scss */
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }

  /* line 406, ../sass/_mixins.scss */
  70% {
    transform: perspective(400px) rotateY(10deg);
  }

  /* line 407, ../sass/_mixins.scss */
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

/* line 336, ../sass/_mixins.scss */
.flipOutY {
  -webkit-animation-name: flipOutY;
  -moz-animation-name: flipOutY;
  -o-animation-name: flipOutY;
  animation-name: flipOutY;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

@keyframes flipOutY {
  /* line 410, ../sass/_mixins.scss */
  0% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  /* line 411, ../sass/_mixins.scss */
  100% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

@media only screen and (max-width: 1280px) {
  /* line 58, ../sass/_mixins.scss */
  #gridstructure {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 1% 1% 1% 1%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 816px) {
  /* line 28, ../sass/_mixins.scss */
  #columns {
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    -o-column-fill: balance;
    column-fill: balance;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1%;
    -moz-column-gap: 1%;
    -o-column-gap: 1%;
    column-gap: 1%;
  }

  /* line 33, ../sass/_mixins.scss */
  section {
    display: inline-block;
    width: 100%;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    column-break-inside: avoid;
  }
}
@media only screen and (min-width: 0) and (max-width: 480px) {
  /* line 58, ../sass/_mixins.scss */
  #gridstructure {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 1% 1% 1% 1%;
  }

  /* line 79, ../sass/_mixins.scss */
  #gridstructure .gd1, #gridstructure .gd2, #gridstructure .gd3, #new, #animation .btn, #gridstructure .gd4, #gridstructure .gd5, #gridstructure .gd6, #new2, #gridstructure .gd7, #gridstructure .gd8, #gridstructure .gd9, #gridstructure .gd10, #gridstructure .gd11, #gridstructure .gd12 {
    float: none;
    clear: both;
    margin: 1% 1% 1% 1%;
    width: 98%;
  }

  /* line 28, ../sass/_mixins.scss */
  #columns {
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    -o-column-fill: balance;
    column-fill: balance;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 1%;
    -moz-column-gap: 1%;
    -o-column-gap: 1%;
    column-gap: 1%;
  }

  /* line 33, ../sass/_mixins.scss */
  section {
    display: inline-block;
    width: 100%;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    column-break-inside: avoid;
  }
}
