/*
Syntax error: Invalid CSS after "...ty}: $fallback;": expected "}", was "<<<<<<< HEAD"
        on line 16 of /Users/alfonse/Dropbox/Framework/sass/_mixins.scss
        from line 3 of /Users/alfonse/Dropbox/Framework/sass/master.scss

Backtrace:
/Users/alfonse/Dropbox/Framework/sass/_mixins.scss:16
/Users/alfonse/Dropbox/Framework/sass/master.scss:3
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/scss/parser.rb:1135:in `expected'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/scss/parser.rb:1072:in `expected'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/scss/parser.rb:1067:in `tok!'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/scss/parser.rb:524:in `block'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/scss/parser.rb:175:in `mixin_directive'
org/jruby/RubyKernel.java:2105:in `send'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/scss/parser.rb:163:in `special_directive'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/scss/parser.rb:135:in `directive'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/scss/parser.rb:541:in `block_child'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/scss/parser.rb:534:in `block_contents'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/scss/parser.rb:70:in `stylesheet'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/scss/parser.rb:27:in `parse'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/engine.rb:342:in `_to_tree'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/engine.rb:272:in `to_tree'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/tree/visitors/perform.rb:223:in `visit_import'
org/jruby/RubyKernel.java:2109:in `send'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/tree/visitors/perform.rb:107:in `visit_children'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
org/jruby/RubyKernel.java:2109:in `send'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
org/jruby/RubyKernel.java:2109:in `send'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/tree/root_node.rb:20:in `render'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/engine.rb:315:in `_render'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.4/lib/sass/engine.rb:262:in `render'
file:/Users/alfonse/Downloads/compass.app/Contents/Resources/Java/compass-app.jar!/compass_patch.rb:122:in `compile'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
file:/Users/alfonse/Downloads/compass.app/Contents/Resources/Java/compass-app.jar!/compass_patch.rb:121:in `compile'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/logger.rb:45:in `red'
file:/Users/alfonse/Downloads/compass.app/Contents/Resources/Java/compass-app.jar!/compass_patch.rb:120:in `compile'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1620:in `each'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/path.rb:73:in `run_callback'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/path.rb:55:in `callback_action'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/path.rb:35:in `update'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/state/directory.rb:39:in `modified'
org/jruby/RubyArray.java:1620:in `each'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/state/directory.rb:37:in `modified'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/state/directory.rb:18:in `refresh'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/backends/polling.rb:17:in `run'
org/jruby/RubyArray.java:1620:in `each'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/backends/polling.rb:17:in `run'
org/jruby/RubyKernel.java:1439:in `loop'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/backends/polling.rb:15:in `run'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/monitor.rb:26:in `run'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm.rb:70:in `monitor'
file:/Users/alfonse/Downloads/compass.app/Contents/Resources/Java/compass-app.jar!/compass_patch.rb:22:in `perform'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/alfonse/Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
file:/Users/alfonse/Downloads/compass.app/Contents/Resources/Java/compass-app.jar!/ui/tray.rb:425:in `watch'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...ty}: $fallback;\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 16 of /Users/alfonse/Dropbox/Framework/sass/_mixins.scss\A         from line 3 of /Users/alfonse/Dropbox/Framework/sass/master.scss"; }
