/* line 1, ../sass/_base.scss */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/_base.scss */
img {
  border: 0 none;
}

@font-face {
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
  src: url("../fonts/itcavantgardestd-md.eot");
  src: url("../fonts/itcavantgardestd-md.eot") format("embedded-opentype"), url("../fonts/itcavantgardestd-md.woff") format("woff"), url("../fonts/itcavantgardestd-md.ttf") format("truetype"), url('../fonts/itcavantgardestd-md.svg#"Helvetica Neue", "Helvetica", arial, sans-serif') format("svg");
}

@font-face {
  font-family: "ITCAvantGardeGothicStdBook";
  src: url("../fonts/itcavantgardestd-bk.eot");
  src: url("../fonts/itcavantgardestd-bk.eot") format("embedded-opentype"), url("../fonts/itcavantgardestd-bk.woff") format("woff"), url("../fonts/itcavantgardestd-bk.ttf") format("truetype"), url("../fonts/itcavantgardestd-bk.svg#ITCAvantGardeGothicStdBook") format("svg");
}

/* line 12, ../sass/_base.scss */
body {
  background: none center center no-repeat #efefef;
  color: #666666;
  font-size: 100%;
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
}

/* line 18, ../sass/_base.scss */
.mOff {
  display: block;
}

/* line 21, ../sass/_base.scss */
.mOn {
  display: none;
}

/* line 24, ../sass/_base.scss */
a {
  color: #42a7dd;
  text-decoration: none;
}
/* line 27, ../sass/_base.scss */
a:hover {
  color: #e24547;
}

/* line 31, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
  font-weight: bold;
  letter-spacing: .02em;
}

/* line 36, ../sass/_base.scss */
h1 {
  font-size: 2em;
  color: #575258;
}

/* line 40, ../sass/_base.scss */
h2 {
  font-size: 1.5em;
  color: #828282;
}

/* line 44, ../sass/_base.scss */
h3 {
  font-size: 1.2em;
  color: #828282;
}

/* line 48, ../sass/_base.scss */
h4 {
  font-size: 1em;
}

/* line 51, ../sass/_base.scss */
h5 {
  font-size: 0.8em;
}

/* line 54, ../sass/_base.scss */
h6 {
  font-size: 0.6em;
}

/* line 57, ../sass/_base.scss */
label {
  font-size: 1em;
}

/* line 60, ../sass/_base.scss */
p {
  font-size: 0.8em;
}

/* line 63, ../sass/_base.scss */
ul {
  list-style: none;
}
/* line 65, ../sass/_base.scss */
ul li {
  font-size: 0.7em;
}

/* line 69, ../sass/_base.scss */
ol {
  list-style-position: inside;
}

/* line 73, ../sass/_base.scss */
input[type="text"], input[type="number"], input[type="email"], input[type="password"], textarea {
  padding: 0.8% 0.6%;
  border: 1px solid #cccccc;
  font-size: 1em;
  background: white;
  color: #b9b9b9;
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
  margin: 0 0 1%;
  width: 100%;
  display: block;
  -webkit-transition: box-shadow 0.3s linear;
  -moz-transition: box-shadow 0.3s linear;
  -ms-transition: box-shadow 0.3s linear;
  -o-transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
}
/* line 85, ../sass/_base.scss */
input[type="text"].halfIn, input[type="number"].halfIn, input[type="email"].halfIn, input[type="password"].halfIn, textarea.halfIn {
  float: left;
  margin: 1%;
  width: 48%;
}

/* line 92, ../sass/_base.scss */
input[type="submit"] {
  padding: 0.8% 0.6%;
  border: 1px solid #cccccc;
  font-size: 1em;
  background: white;
  color: #b9b9b9;
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
  margin: 0 0 1%;
  cursor: pointer;
}
/* line 101, ../sass/_base.scss */
input[type="submit"]:hover {
  background: #f2f2f2;
}
/* line 104, ../sass/_base.scss */
input[type="submit"]:active {
  background: #e6e6e6;
}

/* line 108, ../sass/_base.scss */
textarea:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  color: #676667;
  background: white;
  -webkit-box-shadow: 0 0 4px rgba(66, 167, 221, 0.9);
  -moz-box-shadow: 0 0 4px rgba(66, 167, 221, 0.9);
  -ms-box-shadow: 0 0 4px rgba(66, 167, 221, 0.9);
  -o-box-shadow: 0 0 4px rgba(66, 167, 221, 0.9);
  box-shadow: 0 0 4px rgba(66, 167, 221, 0.9);
}

/* line 113, ../sass/_base.scss */
input:focus::-webkit-input-placeholder, input:focus::-moz-placeholder {
  color: #676667;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 117, ../sass/_base.scss */
textarea {
  min-height: 166px;
}

/* line 197, ../sass/_mixins.scss */
span.selWrap {
  width: 100%;
  margin: 0 auto;
  height: 36px;
  position: relative;
  display: block;
  padding: 0;
}

/* line 205, ../sass/_mixins.scss */
span.selText {
  margin: 0;
  z-index: 1;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  height: 36px;
  line-height: 36px;
  padding: 0 0.4em;
  font-weight: normal;
  color: #757474;
  font-size: 1em;
  background: url("../images/arrow.png") 100% 97.8% #f3f3f3;
  background: url("../images/arrow.png") 100% 97.8%, -webkit-linear-gradient(center top, #ffffff, #e7e7e7);
  background: url("../images/arrow.png") 100% 97.8%, -moz-linear-gradient(center top, #ffffff, #e7e7e7);
  background: url("../images/arrow.png") 100% 97.8%, -ms-linear-gradient(center top, #ffffff, #e7e7e7);
  background: url("../images/arrow.png") 100% 97.8%, -o-linear-gradient(center top, #ffffff, #e7e7e7);
  background: url("../images/arrow.png") 100% 97.8%, linear-gradient(center top, #ffffff, #e7e7e7);
  border: 4px solid #eaeaea;
}

/* line 223, ../sass/_mixins.scss */
select.selIner {
  width: 100%;
  height: 36px;
  position: absolute;
  z-index: 2;
  padding: 0;
  margin: 0;
  border: 0 none;
  float: none;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-appearance: menulist-button;
}

/* line 58, ../sass/_mixins.scss */
.top .top-container, .container {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  padding: 0 0 0 0;
}

/* line 69, ../sass/_mixins.scss */
.top .top-container a.docs, .container .sass {
  float: left;
  clear: none;
  margin: 1% 1% 1% 1%;
}

/* line 75, ../sass/_mixins.scss */
.top .top-container a.docs {
  width: 23%;
}

/* line 75, ../sass/_mixins.scss */
.container .sass {
  width: 31.33333%;
}

/* line 10, ../sass/index.scss */
.top {
  background: #1d66b1;
  background: -webkit-linear-gradient(left, #05456b, #3587f8) repeat-x #185fa3;
  background: -moz-linear-gradient(left, #05456b, #3587f8) repeat-x #185fa3;
  background: -ms-linear-gradient(left, #05456b, #3587f8) repeat-x #185fa3;
  background: -o-linear-gradient(left, #05456b, #3587f8) repeat-x #185fa3;
  background: linear-gradient(to right, #05456b, #3587f8) repeat-x #3587f8;
  height: 400px;
  width: 100%;
}
/* line 15, ../sass/index.scss */
.top:after {
  background: url("../images/headerbg.png") repeat scroll center center transparent;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 27, ../sass/index.scss */
.top .top-container {
  z-index: 1;
  position: relative;
  text-align: center;
}
/* line 34, ../sass/index.scss */
.top .top-container h1,
.top .top-container p {
  color: #fff;
}
/* line 37, ../sass/index.scss */
.top .top-container h1 {
  font-size: 400%;
  margin: 80px 0 0;
}
/* line 41, ../sass/index.scss */
.top .top-container p {
  font-size: 150%;
}
/* line 45, ../sass/index.scss */
.top .top-container a {
  display: block;
}
/* line 48, ../sass/index.scss */
.top .top-container a.docs {
  float: none;
  padding: 1% 2%;
  margin: 20px auto;
  color: #fff;
  background: #3592c4;
  background: -webkit-linear-gradient(top, #42a7dd, #297eac) repeat-x #3896c9;
  background: -moz-linear-gradient(top, #42a7dd, #297eac) repeat-x #3896c9;
  background: -ms-linear-gradient(top, #42a7dd, #297eac) repeat-x #3896c9;
  background: -o-linear-gradient(top, #42a7dd, #297eac) repeat-x #3896c9;
  background: linear-gradient(top, #42a7dd, #297eac) repeat-x #3896c9;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
}

/* line 62, ../sass/index.scss */
.container {
  z-index: 5;
  position: relative;
  margin: 0px auto 0;
  min-height: 1200px;
}

@media only screen and (max-width: 1200px) {
  /* line 58, ../sass/_mixins.scss */
  .top .top-container, .container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 1% 1% 1% 1%;
  }
}
@media only screen and (min-width: 0) and (max-width: 480px) {
  /* line 58, ../sass/_mixins.scss */
  .top .top-container, .container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 1% 1% 1% 1%;
  }

  /* line 79, ../sass/_mixins.scss */
  .top .top-container a.docs, .container .sass {
    float: none;
    clear: both;
    margin: 1% 1% 1% 1%;
    width: 98%;
  }

  /* line 106, ../sass/index.scss */
  .content .grid-example2 section {
    width: 98%;
  }
}
