/* line 1, ../sass/_base.scss */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/_base.scss */
img {
  border: 0 none;
}

@font-face {
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
  src: url("../fonts/itcavantgardestd-md.eot");
  src: url("../fonts/itcavantgardestd-md.eot") format("embedded-opentype"), url("../fonts/itcavantgardestd-md.woff") format("woff"), url("../fonts/itcavantgardestd-md.ttf") format("truetype"), url('../fonts/itcavantgardestd-md.svg#"Helvetica Neue", "Helvetica", arial, sans-serif') format("svg");
}

@font-face {
  font-family: "ITCAvantGardeGothicStdBook";
  src: url("../fonts/itcavantgardestd-bk.eot");
  src: url("../fonts/itcavantgardestd-bk.eot") format("embedded-opentype"), url("../fonts/itcavantgardestd-bk.woff") format("woff"), url("../fonts/itcavantgardestd-bk.ttf") format("truetype"), url("../fonts/itcavantgardestd-bk.svg#ITCAvantGardeGothicStdBook") format("svg");
}

/* line 12, ../sass/_base.scss */
body {
  background: none center center no-repeat #efefef;
  color: #666666;
  font-size: 100%;
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
}

/* line 18, ../sass/_base.scss */
.mOff {
  display: block;
}

/* line 21, ../sass/_base.scss */
.mOn {
  display: none;
}

/* line 24, ../sass/_base.scss */
a {
  color: #42a7dd;
  text-decoration: none;
}
/* line 27, ../sass/_base.scss */
a:hover {
  color: #e24547;
}

/* line 31, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
  font-weight: bold;
  letter-spacing: .02em;
}

/* line 36, ../sass/_base.scss */
h1 {
  font-size: 2em;
  color: #575258;
}

/* line 40, ../sass/_base.scss */
h2 {
  font-size: 1.5em;
  color: #828282;
}

/* line 44, ../sass/_base.scss */
h3 {
  font-size: 1.2em;
  color: #828282;
}

/* line 48, ../sass/_base.scss */
h4 {
  font-size: 1em;
}

/* line 51, ../sass/_base.scss */
h5 {
  font-size: 0.8em;
}

/* line 54, ../sass/_base.scss */
h6 {
  font-size: 0.6em;
}

/* line 57, ../sass/_base.scss */
label {
  font-size: 1em;
}

/* line 60, ../sass/_base.scss */
p {
  font-size: 0.8em;
}

/* line 63, ../sass/_base.scss */
ul {
  list-style: none;
}
/* line 65, ../sass/_base.scss */
ul li {
  font-size: 0.7em;
}

/* line 69, ../sass/_base.scss */
ol {
  list-style-position: inside;
}

/* line 73, ../sass/_base.scss */
input[type="text"], input[type="number"], input[type="email"], input[type="password"], textarea {
  padding: 0.8% 0.6%;
  border: 1px solid #cccccc;
  font-size: 1em;
  background: white;
  color: #b9b9b9;
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
  margin: 0 0 1%;
  width: 100%;
  display: block;
  -webkit-transition: box-shadow 0.3s linear;
  -moz-transition: box-shadow 0.3s linear;
  -ms-transition: box-shadow 0.3s linear;
  -o-transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
}
/* line 85, ../sass/_base.scss */
input[type="text"].halfIn, input[type="number"].halfIn, input[type="email"].halfIn, input[type="password"].halfIn, textarea.halfIn {
  float: left;
  margin: 1%;
  width: 48%;
}

/* line 92, ../sass/_base.scss */
input[type="submit"] {
  padding: 0.8% 0.6%;
  border: 1px solid #cccccc;
  font-size: 1em;
  background: white;
  color: #b9b9b9;
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
  margin: 0 0 1%;
  cursor: pointer;
}
/* line 101, ../sass/_base.scss */
input[type="submit"]:hover {
  background: #f2f2f2;
}
/* line 104, ../sass/_base.scss */
input[type="submit"]:active {
  background: #e6e6e6;
}

/* line 108, ../sass/_base.scss */
textarea:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  color: #676667;
  background: white;
  -webkit-box-shadow: 0 0 4px rgba(66, 167, 221, 0.9);
  -moz-box-shadow: 0 0 4px rgba(66, 167, 221, 0.9);
  -ms-box-shadow: 0 0 4px rgba(66, 167, 221, 0.9);
  -o-box-shadow: 0 0 4px rgba(66, 167, 221, 0.9);
  box-shadow: 0 0 4px rgba(66, 167, 221, 0.9);
}

/* line 113, ../sass/_base.scss */
input:focus::-webkit-input-placeholder, input:focus::-moz-placeholder {
  color: #676667;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 117, ../sass/_base.scss */
textarea {
  min-height: 166px;
}

/* line 197, ../sass/_mixins.scss */
span.selWrap {
  width: 100%;
  margin: 0 auto;
  height: 36px;
  position: relative;
  display: block;
  padding: 0;
}

/* line 205, ../sass/_mixins.scss */
span.selText {
  margin: 0;
  z-index: 1;
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  height: 36px;
  line-height: 36px;
  padding: 0 0.4em;
  font-weight: normal;
  color: #757474;
  font-size: 1em;
  background: url("../images/arrow.png") 100% 97.8% #f3f3f3;
  background: url("../images/arrow.png") 100% 97.8%, -webkit-linear-gradient(center top, #ffffff, #e7e7e7);
  background: url("../images/arrow.png") 100% 97.8%, -moz-linear-gradient(center top, #ffffff, #e7e7e7);
  background: url("../images/arrow.png") 100% 97.8%, -ms-linear-gradient(center top, #ffffff, #e7e7e7);
  background: url("../images/arrow.png") 100% 97.8%, -o-linear-gradient(center top, #ffffff, #e7e7e7);
  background: url("../images/arrow.png") 100% 97.8%, linear-gradient(center top, #ffffff, #e7e7e7);
  border: 4px solid #eaeaea;
}

/* line 223, ../sass/_mixins.scss */
select.selIner {
  width: 100%;
  height: 36px;
  position: absolute;
  z-index: 2;
  padding: 0;
  margin: 0;
  border: 0 none;
  float: none;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-appearance: menulist-button;
}

/* line 58, ../sass/_mixins.scss */
.top .top-header, .container {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  padding: 0 0 0 0;
}

/* line 69, ../sass/_mixins.scss */
.content .grid-example1 section, .content .grid-example3 .gd1, .content .grid-example3 .gd2, .nav, .content .grid-example3 .three-column, .content .grid-example3 .gd3, .content .element8, .content .element9, .content .element10, .content .element11, .content .element12, .content .color-swatches li, .content button, .content .grid-example3 .gd4, .content .grid-example3 .gd5, .content .grid-example3 .gd6, .content .html-example,
.content .css-example, .content .grid-example3 .gd7, .content .grid-example3 .gd8, .content, .content .grid-example3 .nine-column, .content .grid-example3 .gd9, .content .grid-example3 .gd10, .content .grid-example3 .gd11, .content .grid-example3 .gd12 {
  float: left;
  clear: none;
  margin: 1% 1% 1% 1%;
}

/* line 75, ../sass/_mixins.scss */
.content .grid-example1 section, .content .grid-example3 .gd1 {
  width: 6.33333%;
}

/* line 75, ../sass/_mixins.scss */
.content .grid-example3 .gd2 {
  width: 14.66667%;
}

/* line 75, ../sass/_mixins.scss */
.nav, .content .grid-example3 .three-column, .content .grid-example3 .gd3, .content .element8, .content .element9, .content .element10, .content .element11, .content .element12, .content .color-swatches li, .content button {
  width: 23%;
}

/* line 75, ../sass/_mixins.scss */
.content .grid-example3 .gd4 {
  width: 31.33333%;
}

/* line 75, ../sass/_mixins.scss */
.content .grid-example3 .gd5 {
  width: 39.66667%;
}

/* line 75, ../sass/_mixins.scss */
.content .grid-example3 .gd6, .content .html-example,
.content .css-example {
  width: 48%;
}

/* line 75, ../sass/_mixins.scss */
.content .grid-example3 .gd7 {
  width: 56.33333%;
}

/* line 75, ../sass/_mixins.scss */
.content .grid-example3 .gd8 {
  width: 64.66667%;
}

/* line 75, ../sass/_mixins.scss */
.content, .content .grid-example3 .nine-column, .content .grid-example3 .gd9 {
  width: 73%;
}

/* line 75, ../sass/_mixins.scss */
.content .grid-example3 .gd10 {
  width: 81.33333%;
}

/* line 75, ../sass/_mixins.scss */
.content .grid-example3 .gd11 {
  width: 89.66667%;
}

/* line 75, ../sass/_mixins.scss */
.content .grid-example3 .gd12 {
  width: 98%;
}

/* line 10, ../sass/master.scss */
.top {
  background: #1d66b1;
  background: -webkit-linear-gradient(left, #05456b, #3587f8) repeat-x #185fa3;
  background: -moz-linear-gradient(left, #05456b, #3587f8) repeat-x #185fa3;
  background: -ms-linear-gradient(left, #05456b, #3587f8) repeat-x #185fa3;
  background: -o-linear-gradient(left, #05456b, #3587f8) repeat-x #185fa3;
  background: linear-gradient(to right, #05456b, #3587f8) repeat-x #3587f8;
  height: 200px;
  width: 100%;
}
/* line 15, ../sass/master.scss */
.top:after {
  background: url("../images/headerbg.png") repeat scroll center center transparent;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 27, ../sass/master.scss */
.top .top-header {
  z-index: 1;
  position: relative;
}
/* line 32, ../sass/master.scss */
.top .top-header h1 {
  color: #fff;
  font-size: 3em;
  margin: 80px 0 0;
}

/* line 41, ../sass/master.scss */
.container {
  z-index: 5;
  position: relative;
  margin: 0px auto 0;
  min-height: 1200px;
}

/* line 52, ../sass/master.scss */
.nav ul {
  border: 1px solid #cccccc;
  overflow: hidden;
}
/* line 57, ../sass/master.scss */
.nav ul li {
  background: #fff;
  border-bottom: 1px solid #cccccc;
}
/* line 60, ../sass/master.scss */
.nav ul li.last {
  border-bottom: 0 none;
}
/* line 63, ../sass/master.scss */
.nav ul li a {
  display: block;
  padding: 10px 2%;
}
/* line 67, ../sass/master.scss */
.nav ul li a:hover {
  background: #488ac2;
  color: #fff;
}

/* line 78, ../sass/master.scss */
.content .header {
  margin: 40px 0 0;
}
/* line 81, ../sass/master.scss */
.content p {
  margin: 0 0 10px;
}
/* line 84, ../sass/master.scss */
.content p.note {
  background: #e8aeae;
  padding: 1% 2%;
}
/* line 89, ../sass/master.scss */
.content .clear {
  clear: both;
}
/* line 90, ../sass/master.scss */
.content hr {
  clear: both;
  margin: 60px 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* line 96, ../sass/master.scss */
.content .output {
  overflow: hidden;
  background: #fff;
  border: 1px solid #cccccc;
  padding: 1%;
}
/* line 102, ../sass/master.scss */
.content .example {
  text-align: center;
  color: #fff;
}
/* line 107, ../sass/master.scss */
.content .grid-example1 {
  overflow: auto;
  color: #fff;
}
/* line 111, ../sass/master.scss */
.content .grid-example1 section {
  background: #42a7dd;
  padding: 1% 2%;
  text-align: center;
}
/* line 119, ../sass/master.scss */
.content .example2 {
  margin: 20px 0 0;
}
/* line 122, ../sass/master.scss */
.content .grid-example2 {
  margin: 0 0 40px;
  overflow: hidden;
  color: #fff;
}
/* line 127, ../sass/master.scss */
.content .grid-example2 section {
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  width: 3.55556%;
  float: left;
  clear: none;
  margin: 1%;
  background: #42a7dd;
  text-align: center;
}
/* line 140, ../sass/master.scss */
.content .grid-example3 section {
  background: #42A7DD;
  min-height: 50px;
  color: #fff;
}
/* line 166, ../sass/master.scss */
.content .element3 {
  width: 10%;
  width: -moz-calc(10% - 5px);
  width: -o-calc(10% - 5px);
  width: -webkit-calc(10% - 5px);
  width: calc(10% - 5px);
  height: 20px;
  color: #fff;
  background: #42A7DD;
}
/* line 172, ../sass/master.scss */
.content .element4 {
  -webkit-background-size: 250px auto;
  -moz-background-size: 250px auto;
  -o-background-size: 250px auto;
  background-size: 250px auto;
}
/* line 175, ../sass/master.scss */
.content .element5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  background: #42A7DD;
}
/* line 181, ../sass/master.scss */
.content .element6 {
  border: 20px solid transparent;
  -webkit-border-image: url("../images/border-img.jpg") 20 20 repeat;
  -moz-border-image: url("../images/border-img.jpg") 20 20 repeat;
  -o-border-image: url("../images/border-img.jpg") 20 20 repeat;
  border-image: url("../images/border-img.jpg") 20 20 repeat;
  height: 100px;
  width: 200px;
  color: #333;
}
/* line 188, ../sass/master.scss */
.content .element7 {
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.8);
  height: 100px;
  width: 200px;
  background: #42A7DD;
}
/* line 194, ../sass/master.scss */
.content .element8 {
  background: #7fa933;
  background: -webkit-linear-gradient(top, #9bbe4d, #649419) repeat-x #85ad38;
  background: -moz-linear-gradient(top, #9bbe4d, #649419) repeat-x #85ad38;
  background: -ms-linear-gradient(top, #9bbe4d, #649419) repeat-x #85ad38;
  background: -o-linear-gradient(top, #9bbe4d, #649419) repeat-x #85ad38;
  background: linear-gradient(top, #9bbe4d, #649419) repeat-x #85ad38;
  padding: 1% 2%;
}
/* line 199, ../sass/master.scss */
.content .element9 {
  background: #268dc9;
  background: -webkit-linear-gradient(left, #40a3db, #0c78b7) repeat-x #2b91cc;
  background: -moz-linear-gradient(left, #40a3db, #0c78b7) repeat-x #2b91cc;
  background: -ms-linear-gradient(left, #40a3db, #0c78b7) repeat-x #2b91cc;
  background: -o-linear-gradient(left, #40a3db, #0c78b7) repeat-x #2b91cc;
  background: linear-gradient(to right, #40a3db, #0c78b7) repeat-x #0c78b7;
  padding: 1% 2%;
}
/* line 204, ../sass/master.scss */
.content .element10 {
  background: #f3b61e;
  background: -webkit-radial-gradient(circle, #fdcd3d, #e99f00) no-repeat #f5ba24;
  background: -moz-radial-gradient(circle, #fdcd3d, #e99f00) no-repeat #f5ba24;
  background: -ms-radial-gradient(circle, #fdcd3d, #e99f00) no-repeat #f5ba24;
  background: -o-radial-gradient(circle, #fdcd3d, #e99f00) no-repeat #f5ba24;
  background: radial-gradient(circle, #fdcd3d, #e99f00) no-repeat #f5ba24;
  padding: 1% 2%;
}
/* line 209, ../sass/master.scss */
.content .element11 {
  background: #c32b26;
  background: -webkit-linear-gradient(45deg, #e9574c, #9d0000) repeat-x #ca342d;
  background: -moz-linear-gradient(45deg, #e9574c, #9d0000) repeat-x #ca342d;
  background: -ms-linear-gradient(45deg, #e9574c, #9d0000) repeat-x #ca342d;
  background: -o-linear-gradient(45deg, #e9574c, #9d0000) repeat-x #ca342d;
  background: linear-gradient(45deg, #e9574c, #9d0000) repeat-x #ca342d;
  padding: 1% 2%;
}
/* line 214, ../sass/master.scss */
.content .element12 {
  background: url("../images/arrow.png") no-repeat right center #b2b2b2;
  background: url("../images/arrow.png") no-repeat right center, -webkit-linear-gradient(center top, #cccccc, #999999);
  background: url("../images/arrow.png") no-repeat right center, -moz-linear-gradient(center top, #cccccc, #999999);
  background: url("../images/arrow.png") no-repeat right center, -ms-linear-gradient(center top, #cccccc, #999999);
  background: url("../images/arrow.png") no-repeat right center, -o-linear-gradient(center top, #cccccc, #999999);
  background: url("../images/arrow.png") no-repeat right center, linear-gradient(center top, #cccccc, #999999);
  padding: 1% 2%;
}
/* line 222, ../sass/master.scss */
.content .color-swatches {
  clear: both;
  overflow: hidden;
}
/* line 226, ../sass/master.scss */
.content .color-swatches li {
  display: inline-block;
  height: 50px;
  text-align: center;
  font-size: 90%;
  padding: 2%;
  color: #fff;
}
/* line 235, ../sass/master.scss */
.content .color-swatches li.white {
  background: white;
  color: #999;
}
/* line 236, ../sass/master.scss */
.content .color-swatches li.black {
  background: black;
}
/* line 237, ../sass/master.scss */
.content .color-swatches li.gray {
  background: #eaeaea;
  color: #999;
}
/* line 238, ../sass/master.scss */
.content .color-swatches li.red {
  background: #e24547;
}
/* line 239, ../sass/master.scss */
.content .color-swatches li.orange {
  background: #f18c2c;
}
/* line 240, ../sass/master.scss */
.content .color-swatches li.blue {
  background: #42a7dd;
}
/* line 241, ../sass/master.scss */
.content .color-swatches li.green {
  background: #78ca45;
}
/* line 242, ../sass/master.scss */
.content .color-swatches li.yellow {
  background: yellow;
  color: #999;
}
/* line 243, ../sass/master.scss */
.content .color-swatches li.purple {
  background: #a132a8;
}
/* line 244, ../sass/master.scss */
.content .color-swatches li.primary {
  background: #1abc9c;
}
/* line 245, ../sass/master.scss */
.content .color-swatches li.warning {
  background: #f1c40f;
}
/* line 246, ../sass/master.scss */
.content .color-swatches li.default {
  background: #bdc3c7;
}
/* line 247, ../sass/master.scss */
.content .color-swatches li.danger {
  background: #e74c3c;
}
/* line 248, ../sass/master.scss */
.content .color-swatches li.success {
  background: #2ecc71;
}
/* line 249, ../sass/master.scss */
.content .color-swatches li.inverse {
  background: #34495e;
}
/* line 250, ../sass/master.scss */
.content .color-swatches li.info {
  background: #3498db;
}
/* line 258, ../sass/master.scss */
.content button {
  border: 1px solid #444444;
}
/* line 262, ../sass/master.scss */
.content .button-example1 {
  background: #42a7dd;
  text-align: center;
  background: #42a7dd;
  font-size: 100%;
  padding: 1% 0;
  background: #42a7dd;
  font-size: 100%;
  padding: 1% 0;
  background: #42a7dd;
  font-size: 100%;
  padding: 1% 0;
  background: #42a7dd;
  font-size: 100%;
  padding: 1% 0;
  background: #42a7dd;
  font-size: 100%;
  padding: 1% 0;
}
/* line 265, ../sass/_mixins.scss */
.content .button-example1:hover {
  background: #2c9dd9;
}
/* line 265, ../sass/master.scss */
.content .button-example2 {
  background: #42a7dd;
  text-align: center;
  background: -webkit-linear-gradient(top, #6dbbe5, #248fc8) repeat-x #42a7dd;
  font-size: 100%;
  padding: 1% 0;
  background: -moz-linear-gradient(top, #6dbbe5, #248fc8) repeat-x #42a7dd;
  font-size: 100%;
  padding: 1% 0;
  background: -ms-linear-gradient(top, #6dbbe5, #248fc8) repeat-x #42a7dd;
  font-size: 100%;
  padding: 1% 0;
  background: -o-linear-gradient(top, #6dbbe5, #248fc8) repeat-x #42a7dd;
  font-size: 100%;
  padding: 1% 0;
  background: linear-gradient(top, #6dbbe5, #248fc8) repeat-x #42a7dd;
  font-size: 100%;
  padding: 1% 0;
}
/* line 265, ../sass/_mixins.scss */
.content .button-example2:hover {
  background: #2c9dd9;
}
/* line 268, ../sass/master.scss */
.content .button-example3 {
  background: #42a7dd;
  text-align: center;
  background: -webkit-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 100%;
  padding: 1% 0;
  background: -moz-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 100%;
  padding: 1% 0;
  background: -ms-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 100%;
  padding: 1% 0;
  background: -o-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 100%;
  padding: 1% 0;
  background: linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 100%;
  padding: 1% 0;
}
/* line 265, ../sass/_mixins.scss */
.content .button-example3:hover {
  background: #2c9dd9;
}
/* line 271, ../sass/master.scss */
.content .button-example4 {
  background: #42a7dd;
  text-align: center;
  background: -webkit-linear-gradient(top, #58b1e1 0%, #2c9dd9 50%, #207fb2 51%, #319fda 100%);
  font-size: 100%;
  padding: 1% 0;
  background: -moz-linear-gradient(top, #58b1e1 0%, #2c9dd9 50%, #207fb2 51%, #319fda 100%);
  font-size: 100%;
  padding: 1% 0;
  background: -ms-linear-gradient(top, #58b1e1 0%, #2c9dd9 50%, #207fb2 51%, #319fda 100%);
  font-size: 100%;
  padding: 1% 0;
  background: -o-linear-gradient(top, #58b1e1 0%, #2c9dd9 50%, #207fb2 51%, #319fda 100%);
  font-size: 100%;
  padding: 1% 0;
  background: linear-gradient(top, #58b1e1 0%, #2c9dd9 50%, #207fb2 51%, #319fda 100%);
  font-size: 100%;
  padding: 1% 0;
}
/* line 265, ../sass/_mixins.scss */
.content .button-example4:hover {
  background: #2c9dd9;
}
/* line 274, ../sass/master.scss */
.content .button-example-primary {
  background: #1abc9c;
  text-align: center;
  background: #1abc9c;
  font-size: 150%;
  padding: 2% 0;
  background: #1abc9c;
  font-size: 150%;
  padding: 2% 0;
  background: #1abc9c;
  font-size: 150%;
  padding: 2% 0;
  background: #1abc9c;
  font-size: 150%;
  padding: 2% 0;
  background: #1abc9c;
  font-size: 150%;
  padding: 2% 0;
}
/* line 265, ../sass/_mixins.scss */
.content .button-example-primary:hover {
  background: #17a689;
}
/* line 277, ../sass/master.scss */
.content .button-example-yellow {
  background: yellow;
  text-align: center;
  background: -webkit-linear-gradient(top, #ffff33, #cccc00) repeat-x yellow;
  font-size: 100%;
  padding: 1% 0;
  background: -moz-linear-gradient(top, #ffff33, #cccc00) repeat-x yellow;
  font-size: 100%;
  padding: 1% 0;
  background: -ms-linear-gradient(top, #ffff33, #cccc00) repeat-x yellow;
  font-size: 100%;
  padding: 1% 0;
  background: -o-linear-gradient(top, #ffff33, #cccc00) repeat-x yellow;
  font-size: 100%;
  padding: 1% 0;
  background: linear-gradient(top, #ffff33, #cccc00) repeat-x yellow;
  font-size: 100%;
  padding: 1% 0;
}
/* line 265, ../sass/_mixins.scss */
.content .button-example-yellow:hover {
  background: #e5e600;
}
/* line 280, ../sass/master.scss */
.content .button-example-purple {
  background: #a132a8;
  text-align: center;
  background: -webkit-linear-gradient(top, #db94df 0%, #c045c8 5%, #7b2681 95%, #561b59 100%);
  font-size: 80%;
  padding: 0.8% 0;
  background: -moz-linear-gradient(top, #db94df 0%, #c045c8 5%, #7b2681 95%, #561b59 100%);
  font-size: 80%;
  padding: 0.8% 0;
  background: -ms-linear-gradient(top, #db94df 0%, #c045c8 5%, #7b2681 95%, #561b59 100%);
  font-size: 80%;
  padding: 0.8% 0;
  background: -o-linear-gradient(top, #db94df 0%, #c045c8 5%, #7b2681 95%, #561b59 100%);
  font-size: 80%;
  padding: 0.8% 0;
  background: linear-gradient(top, #db94df 0%, #c045c8 5%, #7b2681 95%, #561b59 100%);
  font-size: 80%;
  padding: 0.8% 0;
}
/* line 265, ../sass/_mixins.scss */
.content .button-example-purple:hover {
  background: #8e2c94;
}
/* line 283, ../sass/master.scss */
.content .button-example-danger {
  background: #e74c3c;
  text-align: center;
  background: -webkit-linear-gradient(top, #ea6153 0%, #e43725 50%, #bf2718 51%, #e53b2a 100%);
  font-size: 60%;
  padding: 0.4% 0;
  background: -moz-linear-gradient(top, #ea6153 0%, #e43725 50%, #bf2718 51%, #e53b2a 100%);
  font-size: 60%;
  padding: 0.4% 0;
  background: -ms-linear-gradient(top, #ea6153 0%, #e43725 50%, #bf2718 51%, #e53b2a 100%);
  font-size: 60%;
  padding: 0.4% 0;
  background: -o-linear-gradient(top, #ea6153 0%, #e43725 50%, #bf2718 51%, #e53b2a 100%);
  font-size: 60%;
  padding: 0.4% 0;
  background: linear-gradient(top, #ea6153 0%, #e43725 50%, #bf2718 51%, #e53b2a 100%);
  font-size: 60%;
  padding: 0.4% 0;
}
/* line 265, ../sass/_mixins.scss */
.content .button-example-danger:hover {
  background: #e43725;
}
/* line 293, ../sass/master.scss */
.content .button5 {
  background: #42a7dd;
  text-align: center;
  background: -webkit-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 150%;
  padding: 2% 0;
  background: -moz-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 150%;
  padding: 2% 0;
  background: -ms-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 150%;
  padding: 2% 0;
  background: -o-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 150%;
  padding: 2% 0;
  background: linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 150%;
  padding: 2% 0;
}
/* line 265, ../sass/_mixins.scss */
.content .button5:hover {
  background: #2c9dd9;
}
/* line 296, ../sass/master.scss */
.content .button6 {
  background: #42a7dd;
  text-align: center;
  background: -webkit-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 100%;
  padding: 1% 0;
  background: -moz-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 100%;
  padding: 1% 0;
  background: -ms-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 100%;
  padding: 1% 0;
  background: -o-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 100%;
  padding: 1% 0;
  background: linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 100%;
  padding: 1% 0;
}
/* line 265, ../sass/_mixins.scss */
.content .button6:hover {
  background: #2c9dd9;
}
/* line 299, ../sass/master.scss */
.content .button7 {
  background: #42a7dd;
  text-align: center;
  background: -webkit-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 80%;
  padding: 0.8% 0;
  background: -moz-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 80%;
  padding: 0.8% 0;
  background: -ms-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 80%;
  padding: 0.8% 0;
  background: -o-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 80%;
  padding: 0.8% 0;
  background: linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 80%;
  padding: 0.8% 0;
}
/* line 265, ../sass/_mixins.scss */
.content .button7:hover {
  background: #2c9dd9;
}
/* line 302, ../sass/master.scss */
.content .button8 {
  background: #42a7dd;
  text-align: center;
  background: -webkit-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 60%;
  padding: 0.4% 0;
  background: -moz-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 60%;
  padding: 0.4% 0;
  background: -ms-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 60%;
  padding: 0.4% 0;
  background: -o-linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 60%;
  padding: 0.4% 0;
  background: linear-gradient(top, #c4e3f4 0%, #6dbbe5 5%, #248fc8 95%, #1c709d 100%);
  font-size: 60%;
  padding: 0.4% 0;
}
/* line 265, ../sass/_mixins.scss */
.content .button8:hover {
  background: #2c9dd9;
}
/* line 306, ../sass/master.scss */
.content input.warning {
  border: 2px solid #f1c40f;
}
/* line 309, ../sass/master.scss */
.content input.error {
  border: 2px solid #e74c3c;
}
/* line 312, ../sass/master.scss */
.content input.success {
  border: 2px solid #2ecc71;
}
/* line 315, ../sass/master.scss */
.content input.info {
  border: 2px solid #3498db;
}
/* line 318, ../sass/master.scss */
.content input.disabled {
  border: 2px solid #bdc3c7;
}

@media only screen and (max-width: 1200px) {
  /* line 58, ../sass/_mixins.scss */
  .top .top-header, .container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 1% 1% 1% 1%;
  }
}
@media only screen and (min-width: 0) and (max-width: 480px) {
  /* line 58, ../sass/_mixins.scss */
  .top .top-header, .container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 1% 1% 1% 1%;
  }

  /* line 79, ../sass/_mixins.scss */
  .content .grid-example1 section, .content .grid-example3 .gd1, .content .grid-example3 .gd2, .nav, .content .grid-example3 .three-column, .content .grid-example3 .gd3, .content .element8, .content .element9, .content .element10, .content .element11, .content .element12, .content .color-swatches li, .content button, .content .grid-example3 .gd4, .content .grid-example3 .gd5, .content .grid-example3 .gd6, .content .html-example,
  .content .css-example, .content .grid-example3 .gd7, .content .grid-example3 .gd8, .content, .content .grid-example3 .nine-column, .content .grid-example3 .gd9, .content .grid-example3 .gd10, .content .grid-example3 .gd11, .content .grid-example3 .gd12 {
    float: none;
    clear: both;
    margin: 1% 1% 1% 1%;
    width: 98%;
  }

  /* line 357, ../sass/master.scss */
  .content .grid-example2 section {
    width: 98%;
  }
}
